/*Color Pallette
 Black - #363537
Green - #0CCE6B
Yellow - #DCED31
Red - #EF2D56
Orange - #ED7D3A */

@media screen{

#topper {
    background-color: #ef2d56;
}

#headshot {
    width: 100%;
    border-radius: 40px;
    border: 8px solid white;
    margin: 10px;
}
    .fullwidth{
        padding: px;
    }

h1 {
    font-family: "Yeseva One", serif;
    letter-spacing: 4px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px px px 20px;
    font-size: 50px;
}

h2 {
    font-family: "Yeseva One", serif;
}

h3 {
    font-family: "Yeseva One", serif;
    font-weight: bold;
}

button {
    border-radius: 40px;
    font-family: "Yeseva One", serif;
}

.job{
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 3px solid #EF2D56
}
    .nav{
        justify-content: center;
        color:#ef2d56
    }
    .nav a {
        color:#EF2D56;
        text-decoration: none;    
    }
     .nav a:hover {
        font-weight: bold;
        border-bottom: 1px solid #363537;
    }
}

@media (min-width: 576px) {
    h1 {
        font-size: 80px;
    }

    button {
        width: 200px;
    }
}

@media (min-width: 768px) {
    h1 {
        font-size: 100px;
    }
}


